.Table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 5px solid #717171;
    border-radius: 5px;
    width: 40%;
    height: 15%;
    box-shadow: 6px 6px 3px 3px #717171;
}
button{
    border: 2px solid rgb(54, 91, 170);
    background-color: rgb(83, 124, 214);
    color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    width: 100px;
}
th button{
    border: 2px solid rgb(54, 170, 64);
    background-color: rgb(83, 214, 100);
    color: aliceblue;
    border-radius: 5px;
    font-weight: bold; 
}